*
{
    box-sizing: border-box;
    margin:     0px;
    padding:    0px;
}

input, textarea
{
    outline: none;
}

body, html
{
    min-width: 1007px;
}

html
{
    font-size: 1px;
}

html .Button
{
    border-radius:      4px;
    padding:            11px 0;
    width:              120px;
    margin:             0 auto;
    margin-top:         0px;
    cursor:             pointer;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:    0.3s ease-out;
    -ms-transition:     0.3s ease-out;
    -o-transition:      0.3s ease-out;
    transition:         0.3s ease-out;
    box-shadow:         0 0 0 0 #00e5ff inset;
}

html .Button:hover
{
    border:             2px solid #46ddff !important;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:    0.3s ease-out;
    -ms-transition:     0.3s ease-out;
    -o-transition:      0.3s ease-out;
    transition:         0.3s ease-out;
    box-shadow:         0 0 0 20px #46ddff inset;
}

html .Button span
{
    font-size:      13rem;
    font-family:    'Lato-Bold';
    text-transform: uppercase;
}

html .Button:focus
{
    background-color: #46ddff;
}

html .Page-2, html .Page-3, html .Page-4, html .Page-5
{
    display:        -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display:        -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display:        -ms-flexbox;
    /* TWEENER - IE 10 */
    display:        -webkit-flex;
    /* NEW - Chrome */
    display:        flex;
    flex-direction: row;
}

html .Left
{
    width: 50%;
}

html .Right
{
    width: 50%;
}

html .Right, html .Left
{
    display:                 -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display:                 -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display:                 -ms-flexbox;
    /* TWEENER - IE 10 */
    display:                 -webkit-flex;
    /* NEW - Chrome */
    display:                 flex;
    -webkit-box-align:       center;
    -moz-box-align:          center;
    -ms-flex-align:          center;
    -webkit-align-items:     center;
    align-items:             center;
    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -ms-flex-pack:           center;
    -webkit-justify-content: center;
    justify-content:         center;
}

@media (max-width: 1920px) and (min-height: 680px) and (max-height: 935px)
{
    html .Page-7 .Input-Holder
    {
        margin-top: 15px;
    }

    html .Page-7 .Input-Wrapper input
    {
        padding: 18px 18px;
    }

    html .Page-7 .My-Placeholder
    {
        top:  19px;
        left: 18px;
    }

    html .Page-7 .Input-Wrapper textarea
    {
        height:  120px;
        padding: 10px 18px;
    }

    html .Page-6 .Soc-Block.Six p
    {
        bottom: 60px;
    }

    html .Img-Container-In img
    {
        top: 55px;
    }

    html .Page-1 .Central-Part img
    {
        max-width: 75%;
    }
}

@media (max-width: 1700px)
{
    html .Page-1 .Right-Part
    {
        right:   15px;
        padding: 0px;
    }

    html p
    {
        max-width: 600px;
        margin:    0 auto;
    }
}

@media (max-width: 1400px)
{
    html
    {
        font-size: 0.75px;
    }

    html .Page-1 .Switch span
    {
        font-size: 17px;
    }

    html .Page-6 .Soc-Block.Six p
    {
        bottom: 60px;
    }

    html .Page-7 .Circle-In
    {
        margin-top: -7px;
    }

    html p
    {
        max-width: 550px;
        margin:    0 auto;
    }
}

@media (max-width: 1280px)
{
    html p
    {
        max-width: 375px;
        margin:    0 auto;
    }

    html .Page-3 .Right h2
    {
        max-width: 300px;
        display:   block;
        margin:    0 auto;
    }
}

@media (max-width: 1025px)
{
    html p
    {
        max-width: 340px;
    }
}

h1
{
    font-size:      68rem;
    font-family:    'ProfontsBureau';
    font-weight:    400;
    display:        block;
    text-transform: uppercase;
    line-height:    51px;
    margin-top:     -30px;
}

h2
{
    font-size:      40rem;
    font-family:    'Varela Round', sans-serif;
    text-transform: uppercase;
    font-weight:    400;
}

p
{
    font-size:   25rem;
    line-height: 41rem;
    color:       white;
    font-family: 'Lato', sans-serif;
    max-width:   700px;
}

hr
{
    border:        none;
    border-bottom: 3px solid;
    width:         60px;
    margin:        30px auto 30px;
    display:       block;
}

.clearfix:after, .clearfix:before
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}

.Right-Text, .Left-Text
{
    min-height: 300px;
}

.Page-1
{
    text-align:      center;
    position:        relative;
    background:      url("/images/page-1-background.jpg") center;
    background-size: cover;
    color:           white;
}

.Page-1 .B-Wrapper
{
    margin:      60px auto 0;
    position:    absolute;
    left:        50%;
    margin-left: -140px;
    z-index:     9999999;
    bottom:      -65px;
}

.Page-1 .Button
{
    margin: 0 10px;
    border: 2px solid #44dbff;
}

.Page-1 .Header
{
    padding-top: 60px;
}

.Page-1 p
{
    color:          rgba(255, 255, 255, 0.7);
    font-size:      21rem;
    padding-top:    15px;
    line-height:    17px;
    letter-spacing: 0.6px;
    font-family:    'Lato', sans-serif;
}

.Page-1 .Central-Part
{
    text-align: center;
    display:    inline-block;
    position:   relative;
    margin-top: -50px;
}

.Page-1 .Central-Part img
{
    max-width:  100%;
    max-height: 100%;
}

.Page-1 .Left-Part
{
    vertical-align: top;
    float:          left;
    width:          181px;
    padding-left:   65px;
}

.Page-1 .Left-Part .Container-1 img
{
    cursor:  pointer;
    display: inline-block;
}

.Page-1 .Left-Part .Img-2
{
    display:      block;
    margin-right: 26px;
}

.Page-1 .Left-Part .Img-3
{
    display:      block;
    margin-right: 26px;
}

.Page-1 .Right-Part
{
    position: fixed;
    right:    50px;
    z-index:  99999;
    top:      35px;
}

.Page-1 .Right-Part .Switch
{
    text-align: right;
}

.Page-1 .Container-Right-1
{
    position: relative;
}

.Page-1 .Switch-Hr
{
    position:           relative;
    width:              1px;
    height:             16px;
    background-color:   white;
    left:               9px;
    -webkit-transition: all 0.5s linear;
    -moz-transition:    all 0.5s linear;
    -ms-transition:     all 0.5s linear;
    -o-transition:      all 0.5s linear;
    transition:         all 0.5s linear;
}

.Page-1 .Switch span
{
    display:            inline-block;
    color:              white;
    font-size:          17rem;
    vertical-align:     middle;
    padding-right:      7px;
    font-family:        'ProfontsBureau-Bold';
    line-height:        12px;
    -webkit-transition: all 0.5s linear;
    -moz-transition:    all 0.5s linear;
    -ms-transition:     all 0.5s linear;
    -o-transition:      all 0.5s linear;
    transition:         all 0.5s linear;
}

.Page-1 .Circle-Out
{
    display:            inline-block;
    position:           relative;
    cursor:             pointer;
    vertical-align:     middle;
    width:              19px;
    height:             19px;
    border:             2px solid white;
    border-radius:      50%;
    -webkit-transition: all 0.5s linear;
    -moz-transition:    all 0.5s linear;
    -ms-transition:     all 0.5s linear;
    -o-transition:      all 0.5s linear;
    transition:         all 0.5s linear;
}

.Page-1 .Circle-Second
{
    position:           absolute;
    opacity:            0;
    width:              13px;
    height:             13px;
    background:         white;
    border-radius:      50%;
    top:                1px;
    left:               1px;
    -webkit-transition: all 0.5s linear;
    -moz-transition:    all 0.5s linear;
    -ms-transition:     all 0.5s linear;
    -o-transition:      all 0.5s linear;
    transition:         all 0.5s linear;
}

.Page-1 #S-1, .Page-1 #S-2, .Page-1 #S-3, .Page-1 #S-4, .Page-1 #S-5, .Page-1 #S-6, .Page-1 #S-7
{
    -webkit-transition: all 0.5s linear;
    -moz-transition:    all 0.5s linear;
    -ms-transition:     all 0.5s linear;
    -o-transition:      all 0.5s linear;
    transition:         all 0.5s linear;
}

.Button
{
    display: inline-block;
    margin:  50px 10px 45px;
}

.Part-1
{
    height: 51.5%;
    width:  100%;
}

.Img-Container
{
    height:   48.5%;
    bottom:   0;
    width:    100%;
    overflow: hidden;
    position: relative;
}

.Img-Container-In
{
    display:   block;
    margin:    0 auto;
    max-width: 1175px;
    height:    100%;
}

.Img-Container-In img
{
    display:   block;
    margin:    0 auto;
    height:    100%;
    max-width: 100%;
    position:  absolute;
    left:      0px;
    right:     0px;
}

.Page-2
{
    color:      black;
    text-align: center;
}

.Page-2 h2
{
    color: #282828;
}

.Page-2 p
{
    color:       rgba(40, 40, 40, 0.7);
    line-height: 40rem;
}

.Page-2 .Left
{
    background:          url("/images/page-2-right.jpg");
    background-size:     cover;
    background-position: center;
    height:              100%;
    position:            relative;
}

.Page-2 .Right
{
    background: white;
    height:     100%;
}

.Page-3
{
    text-align: center;
    color:      white;
}

.Page-3 p
{
    color: rgba(255, 255, 255, 0.7);
}

.Page-3 .Right
{
    background:         #37daff;
    height:             100%;
    position:           relative;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-3 .Right .Button
{
    position:    absolute;
    bottom:      23%;
    left:        50%;
    margin-left: -60px;
    border:      2px solid #73e5ff;
}

.Page-3 .Right:hover
{
    background:         rgba(55, 218, 255, 0.9);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-3 .Left
{
    background:         #24c3e7;
    height:             100%;
    position:           relative;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-3 .Left .Button
{
    border:      2px solid #33d9ff;
    position:    absolute;
    bottom:      23%;
    left:        50%;
    margin-left: -60px;
}

.Page-3 .Left:hover
{
    background:         rgba(36, 195, 231, 0.9);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-3 hr
{
    color: white;
}

.Page-3 p
{
    display: block;
}

.Page-4 h2
{
    color: #282828;
}

.Page-4 .Right
{
    background:          url("/images/page-mobile.jpg");
    background-position: center;
    background-size:     cover;
    position:            relative;
    height:              100%;
}

.Page-4 .Left
{
    text-align: center;
    background: white;
    height:     100%;
}

.Page-4 .Left p
{
    color: rgba(40, 40, 40, 0.7);
}

.Page-4 hr
{
    color: #282828;
}

.Page-5
{
    text-align: center;
    color:      white;
}

.Page-5 p
{
    color: rgba(255, 255, 255, 0.7);
}

.Page-5 .P5-P1
{
    display: block;
}

.Page-5 .Right
{
    position:           relative;
    background:         #24c3e7;
    height:             100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-5 .Right .Button
{
    border:      2px solid #33d9ff;
    position:    absolute;
    bottom:      23%;
    left:        50%;
    margin-left: -60px;
}

.Page-5 .Right:hover
{
    background:         rgba(36, 195, 231, 0.9);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-5 .Left
{
    position:           relative;
    background:         #37daff;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
    height:             100%;
}

.Page-5 .Left .Button
{
    border:      2px solid #73e5ff;
    position:    absolute;
    bottom:      23%;
    left:        50%;
    margin-left: -60px;
}

.Page-5 .Left:hover
{
    background:         rgba(55, 218, 255, 0.9);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-5 hr
{
    color: white;
}

.Page-6
{
    height:     100%;
    text-align: center;
}

.Page-6 .Part6-1
{
    height:                  30%;
    width:                   100%;
    background:              url("/images/page-6-back-top.jpg");
    background-size:         cover;
    background-position:     center;
    display:                 -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display:                 -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display:                 -ms-flexbox;
    /* TWEENER - IE 10 */
    display:                 -webkit-flex;
    /* NEW - Chrome */
    display:                 flex;
    -webkit-box-align:       center;
    -moz-box-align:          center;
    -ms-flex-align:          center;
    -webkit-align-items:     center;
    align-items:             center;
    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -ms-flex-pack:           center;
    -webkit-justify-content: center;
    justify-content:         center;
}

.Page-6 .Part6-1-Content h2
{
    color: #282828;
}

.Page-6 .Menu
{
    font-size:   25rem;
    font-family: ProfontsBureau-Bold;
}

.Page-6 .Menu-Content
{
    display:       inline-block;
    position:      relative;
    padding-right: 6px;
    padding-left:  6px;
}

.Page-6 .Menu-Content a
{
    text-decoration: none;
    color:           rgba(40, 40, 40, 0.8);
    font-family:     'Lato', sans-serif;
}

.Page-6 .Menu-Content:before
{
    content:   ".";
    position:  absolute;
    font-size: 18rem;
    left:      -5px;
    top:       1px;
    color:     rgba(40, 40, 40, 0.8);
}

.Page-6 .Menu-Content.notaf:before
{
    content: '';
}

.Page-6 .Menu-Content-1
{
    display: inline-block;
}

.Page-6 hr
{
    color: black;
}

.Page-6 .Part6-2
{
    display:        -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display:        -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display:        -ms-flexbox;
    /* TWEENER - IE 10 */
    display:        -webkit-flex;
    /* NEW - Chrome */
    display:        flex;
    flex-direction: row;
    width:          100%;
    height:         35.1%;
}

.Page-6 .Soc-Block.One
{
    background:         #255fb0;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.One:hover
{
    background:         rgba(37, 95, 176, 0.85);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.tWo
{
    background:         #296b9f;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.tWo:hover
{
    background:         rgba(41, 107, 159, 0.85);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.Three
{
    background:         #d6a91f;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.Three:hover
{
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
    background:         rgba(214, 169, 31, 0.85);
}

.Page-6 .Soc-Block.Four
{
    background:         #d57926;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.Four:hover
{
    background:         rgba(213, 121, 38, 0.85);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}


.Page-6 .Soc-Block.Five
{
    background:         #2a965e;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.Five:hover
{
    background:         rgba(42, 150, 94, 0.85);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.Six
{
    background:         #24c3e7;
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block.Six:hover
{
    background:         rgba(36, 195, 231, 0.85);
    -webkit-transition: all 0.3s linear;
    -moz-transition:    all 0.3s linear;
    -ms-transition:     all 0.3s linear;
    -o-transition:      all 0.3s linear;
    transition:         all 0.3s linear;
}

.Page-6 .Soc-Block
{
    width:  33.33%;
    height: 100%;
}

.Page-6 .Soc-Block a
{
    display:                 -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display:                 -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display:                 -ms-flexbox;
    /* TWEENER - IE 10 */
    display:                 -webkit-flex;
    /* NEW - Chrome */
    display:                 flex;
    width:                   100%;
    height:                  100%;
    -webkit-box-align:       center;
    -moz-box-align:          center;
    -ms-flex-align:          center;
    -webkit-align-items:     center;
    align-items:             center;
    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -ms-flex-pack:           center;
    -webkit-justify-content: center;
    justify-content:         center;
}

.Page-6 .Soc-Block a img
{
    max-width: 100%;
}

.Page-7
{
    position:                relative;
    display:                 -webkit-box;
    display:                 -moz-box;
    display:                 -ms-flexbox;
    display:                 -webkit-flex;
    display:                 flex;
    -webkit-box-align:       center;
    -moz-box-align:          center;
    -ms-flex-align:          center;
    -webkit-align-items:     center;
    align-items:             center;
    -webkit-box-pack:        center;
    -moz-box-pack:           center;
    -ms-flex-pack:           center;
    -webkit-justify-content: center;
    justify-content:         center;
    background:              url("/images/page-7-backgroun.jpg");
    background-size:         cover;
    background-position:     center;
    color:                   white;
    height:                  100%;
    text-align:              center;
}

.Page-7 .Page-7-Content
{
    position: relative;
    top:      -45px;
}

.Page-7 hr
{
    color: white;
}

.Page-7 p
{
    line-height:    35rem;
    font-family:    'Lato', sans-serif;
    color:          rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
    max-width:      100%;
}

.Page-7 .Input-Wrapper
{
    position:       relative;
    padding-bottom: 25px;
}

.Page-7 .Input-Wrapper input
{
    padding:       28px 34px;
    border:        2px solid #d7d7d7;
    border-radius: 2px;
    background:    none;
    width:         100%;
    color:         rgba(255, 255, 255, 0.9);
    font-size:     19rem;
    font-family:   ProfontsBureau-Bold;
}

.Page-7 .Input-WW
{
    margin:    0 auto;
    max-width: 534px;
    padding:   0 10px;
}

.Page-7 .Input-Wrapper textarea
{
    position:      relative;
    width:         100%;
    height:        150px;
    background:    none;
    padding:       26px 34px 0;
    border:        2px solid #d7d7d7;
    border-radius: 2px;
    resize:        none;
    border-bottom: none;
    color:         white;
    font-size:     19rem;
    font-family:   'Lato-Bold';
}

.Page-7 .Input-Holder
{
    position:   relative;
    margin-top: 25px;
}

.Page-7 .My-Placeholder
{
    position:    absolute;
    font-size:   17rem;
    font-family: 'Lato-Bold';
    color:       white;
    top:         30px;
    left:        34px;
}

.Page-7 .My-Placeholder-1
{
    top:         28px;
    position:    absolute;
    font-size:   17rem;
    font-family: 'Lato-Bold';
    color:       white;
    left:        34px;
}

.Page-7 .My-Placeholder:focus
{
    display: none;
}

.Page-7 .Circle-1
{
    position:      absolute;
    bottom:        0;
    left:          50%;
    margin-left:   -51px;
    margin-bottom: -51px;
    height:        102px;
    width:         102px;
    border:        2px solid #d7d7d7;
    border-radius: 50%;
    cursor:        pointer;
}

.Page-7 .Circle-2
{
    height:             76px;
    width:              76px;
    position:           relative;
    top:                50%;
    margin-top:         -38px;
    left:               50%;
    margin-left:        -38px;
    border-radius:      50%;
    border:             1px solid #d7d7d7;
    z-index:            9;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:    0.3s ease-out;
    -ms-transition:     0.3s ease-out;
    -o-transition:      0.3s ease-out;
    transition:         0.3s ease-out;
    box-shadow:         0 0 0 0 transparent inset;
}

.Page-7 .Circle-2:hover
{
    -webkit-transition: 0.3s ease-out;
    -moz-transition:    0.3s ease-out;
    -ms-transition:     0.3s ease-out;
    -o-transition:      0.3s ease-out;
    transition:         0.3s ease-out;
    box-shadow:         0 0 0 40px #fff inset;
    border:             1px solid rgba(255, 255, 255, 0.6);
}

.Page-7 .Circle-2:hover .Circle-In
{
    color: #282828;
}

.Page-7 .Circle-In
{
    font-size:          15rem;
    font-family:        'Lato-Bold';
    position:           relative;
    color:              white;
    display:            block;
    top:                50%;
    margin-top:         -10px;
    z-index:            0;
    cursor:             pointer;
    text-transform:     uppercase;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:    0.3s ease-out;
    -ms-transition:     0.3s ease-out;
    -o-transition:      0.3s ease-out;
    transition:         0.3s ease-out;
}

.Page-7 .Input-Holder .Line-L
{
    position:      absolute;
    width:         50%;
    left:          0px;
    bottom:        0px;
    padding-right: 50px;
}

.Page-7 .Input-Holder .Line-L hr
{
    width:         100%;
    border:        none;
    border-bottom: 2px solid #d7d7d7;
    margin:        0px;
}

.Page-7 .Input-Holder .Line-R
{
    position:     absolute;
    width:        50%;
    right:        0px;
    bottom:       0px;
    padding-left: 50px;
}

.Page-7 .Input-Holder .Line-R hr
{
    width:         100%;
    border:        none;
    border-bottom: 2px solid #d7d7d7;
    margin:        0px;
}

.Trigon-Left
{
    width:         0;
    height:        0;
    border-top:    25px solid transparent;
    border-right:  25px solid white;
    border-bottom: 25px solid transparent;
    position:      absolute;
    top:           50%;
    margin-top:    -25px;
    right:         0px;
}

.Trigon-Right
{
    width:         0;
    height:        0;
    border-top:    25px solid transparent;
    border-left:   25px solid white;
    border-bottom: 25px solid transparent;
    position:      absolute;
    top:           50%;
    margin-top:    -25px;
    left:          0px;
}

.Footer
{
    padding-bottom: 15px;
    padding-top:    15px;
    background:     black;
    position:       absolute;
    width:          100%;
    bottom:         0px;
    left:           0px;
}

.Footer .Menu .Menu-Content
{
    display:        inline-block;
    vertical-align: middle;
    padding-right:  6px;
    padding-left:   6px;
}

.Footer .Menu .Menu-Content a
{
    color:           #fff;
    font-size:       16px;
    text-decoration: none;
    font-family:     'Lato', sans-serif;
}

.Page-6 .Soc-Block.Six img
{
    width: 80px;
}

.Page-6 .Soc-Block.Six a
{
    flex-direction:         column;
    -webkit-flex-direction: column;
    position:               relative;
    text-decoration:        none;
    text-align:             center;
}

.Page-6 .Soc-Block.Six p
{
    position:   absolute;
    width:      100%;
    bottom:     80px;
    text-align: center;
    font-size:  18rem;
    left:       0;
    right:      0;
}

/*# sourceMappingURL=index.css.map */
