@font-face {
	font-family: 'ProfontsBureau';
	src: url('ProfontsBureau.eot?#iefix') format('embedded-opentype'),  url('ProfontsBureau.otf')  format('opentype'),
				 url('ProfontsBureau.woff') format('woff'), url('ProfontsBureau.ttf')  format('truetype'), url('ProfontsBureau.svg#ProfontsBureau') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'ProfontsBureau-Bold';
	src: url('ProfontsBureau-Bold.eot?#iefix') format('embedded-opentype'),  url('/fonts/ProfontsBureau-Bold.otf')  format('opentype'),
				 url('ProfontsBureau-Bold.woff') format('woff'), url('ProfontsBureau-Bold.ttf')  format('truetype'), url('ProfontsBureau-Bold.svg#ProfontsBureau-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'ProfontsBureau-BoldItalic';
	src: url('ProfontsBureau-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('ProfontsBureau-BoldItalic.otf')  format('opentype'),
				 url('ProfontsBureau-BoldItalic.woff') format('woff'), url('ProfontsBureau-BoldItalic.ttf')  format('truetype'), url('ProfontsBureau-BoldItalic.svg#ProfontsBureau-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'ProfontsBureau-Italic';
	src: url('ProfontsBureau-Italic.eot?#iefix') format('embedded-opentype'),  url('ProfontsBureau-Italic.otf')  format('opentype'),
				 url('ProfontsBureau-Italic.woff') format('woff'), url('ProfontsBureau-Italic.ttf')  format('truetype'), url('ProfontsBureau-Italic.svg#ProfontsBureau-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
	font-family: 'Lato-Bold';
	src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('Lato-Bold.woff') format('woff'), url('Lato-Bold.ttf')  format('truetype'), url('Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
